@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #F9F7F1;
  --foreground: #171717;
  --clay:#BB4E1F;
  --olive:#6DA87C;
  --mustard:#FEBB10;
  --blue:#89AED9;
  --red:#FF7C66;
}
@font-face {
	font-family: 'book';
	src: url('/fonts/book.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'book';
	src: url('/fonts/book-bold.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'book';
	src: url('/fonts/book-black.woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'book';
	src: url('/fonts/book-italic.woff2');
	font-weight: 500;
	font-style: italic;
}




body{
  font-family: 'Courier New', Courier, monospace;
  font-size:12pt;
  line-height: 1.1em;
  font-weight: bold;
}
h1{
  font-family: 'Antique Olive Std';
  font-weight:bold;
  font-size: 42pt;
  line-height: 1em;
  margin-bottom: 5px;

}

h2{
  font-family: 'Antique Olive Std';
  font-weight:bold;
  font-size: 18pt;
  line-height: 1em;
  margin-bottom: 5px;

}

.text-big{
  font-family:"book";
  font-weight: 500;
  font-size:18pt;
  line-height: 1.2em;

}
.text-price{
  font-size:18pt;
  line-height: 1em;
  letter-spacing: 1px;

}

img{max-width:none}

/* links */
.linkItem{
  transition: transform ease-in-out .15s;
}

.linkItem:hover{
  transform: scale(1.3);
}


.bgblue{
background-color: var(--blue);
}

.bgclay{
  background-color: var(--clay);
  }

.bgmustard{
  background-color: var(--mustard);
  }

  .bgolive{
    background-color: var(--olive);
    }


    .ctaArt, .ctaHold{
      transition: ease-in-out .15s transform;
    }

    .ctaArt:hover, .ctaHold:hover{
      transform: scale(1.2);
    }


